.review-title h1 {
    font-family: Arial, sans-serif; /* Cambia "Arial, sans-serif" a la fuente que desees */
    font-size: 24px; /* Cambia "24px" al tamaño de fuente deseado */
    font-weight: bold; /* Puedes ajustar el grosor de la fuente si lo deseas */
    /* Otros estilos de fuente, como color, se pueden aplicar aquí */
}
