@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&family=Hachi+Maru+Pop&family=Patrick+Hand&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2A2B2E;
    font-family: 'Patrick Hand';
}

/*<----------Navbar--------->*/
header{
    width: 100%;
}

nav ul li a{
    font-family: 'Bangers', sans-serif;
    color: #fcd69e;
    font-size: 1.5rem;
    position: relative; 
    text-decoration: none;
    padding: 8px 6px;  
}

nav ul li a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #e5ac57;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;

}

.new-li a:hover{
    color: #e5ac57;
    box-shadow: #9a1515 2px;
    
}

.logo-new{    
    width: 110px;     
    position: absolute;
    top: 10px;
    left: 5%;
}

nav{
    height: 80px;
    background-color: #1e1e1e;
    border-radius: 2px #ddd7d7;
}

nav ul{
    text-align: right; 
    margin-right: 25px;
}

nav ul li{
    display: inline-block;
    line-height: 80px; 
    margin: 0 15px; 
}

label #btn-nav,
label #cancel{
    color: #fcd69e;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;

}

@media (max-width: 944px) {
    nav img{
        left: 6%;
        top: 20px;
        width: 130px;
    }
    nav ul li a{
        font-size: 17px;
    }
}


@media (max-width: 860px) {
    label #btn-nav{
        display: block;
    }
    nav ul{        
        width: 100%;
        height: 100vh;
        background: #1e1e1e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        position: absolute;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
        
    }
    .img-showcase{
        position: static;
    }
    #check:checked ~ label #btn-nav {
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    
}
/* <----------End Navbar---------> */

/* <----------Carousel---------> */
.container-carousel {
    position: relative;
    width:100%;
    height: 300px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
    margin-top: 30px;
}

.carruseles {
    width: 400%;
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(100% / 4);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}
/* <----------End Carrousel--------->   */

/*  <----------Section Banner--------->  */

#banner{
    width: 100%;
    height: 250px;
    background-color: #1E1E1E;
    font: 'Bangers';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.button {
    width: 150px;
    height: 150px;
    background-size: cover;
    margin: 10px;
    text-align: center;
}
.button img {
    max-width: 100%;
    max-height: 100%;
}
.button-text {
    font-family: 'Bangers', sans-serif;
    color: #88ACE0;
    font-weight: bold;
}
/* <----------End Section Banner--------->  */

/* <----------Contact Section---------> */
.form_contact__container{
    padding: 40px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1b1b;
}

.item{
    width: 100%;
    height: 500px;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, .4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 2;
}

.contact{
    background-color: #e5ac57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h2 {
    font-family:'Bangers';
}

.submit_form{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first_text{
    font-size: 30px;
    padding: 20px;
    font-weight: 600;
    font-family:'Bangers';
}

.intro_contact_text{
    padding: 0px 15px;
}

.first_title{
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
}

.map iframe{
    width: 80%;
    border-radius: 20px;
    margin: 20px;
}

.contact_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.contact_info i {
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 5px;
    margin-right: 20px;
}

.social_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}
.social_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    font-size: 22px;
}

.social_list i {
    padding: 5px;
    border-radius: 7px;
    color: #1b1b1b;
    border: solid 1px #1b1b1b;
}

.social_list i:hover{
    background-color: whitesmoke;
}

.second_text{
    font-weight: 600;
    font-size: 1.2em;
}

form{
    padding: 0 50px;
    height: 70%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media(min-width: 320px) {
    form{
        height: auto;
        padding: 8px 10px;
    }
}

.input_box{
    width: 70%;
    margin: 0 auto;
    padding: 5px;
}

.input_box input{
    outline: none;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 7px;
}

.btn_submit{
    background-color:#e5ac57;
    color: whitesmoke;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.btn_submit:hover{
    transform: scale(1.1);
}

.input_text{
    border-radius: 7px;
}

.social_links_form{
    display: none;
}

@media(max-width: 800px){
    .item{
        grid-template-columns: 1fr;
    }
    .contact{
        display: none;
    }

    .social_links_form{
        display: block;
        margin-top: 10px;
    }
}

@media(max-width: 503px){
    .social_links_form{
        display: none;
    }
}
/*  <----------End Contact Section--------->  */

/*<----------Footer--------->*/
#footer{
    background-color: #e5ac57;
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
}

#footer .container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
    background-color: #e5ac57;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
    text-decoration: none;
}

.footer-links h4{
    font-size: 20px;    
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #1e1e1e;
    padding-bottom: 10px;
    display: inline-block;
    font-family: 'Bangers', sans-serif;
    color: #fbf0f0;
    -webkit-text-stroke: 1.2px black;
    text-shadow: #fbf0f0 0 -2px;
}

li{
    text-decoration: none;
}

.footer-links ul li a{
    font-size: 15px;
    text-decoration: none;
    color: #1e1e1e;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
    font-family: 'Patrick Hand', sans-serif;
    font: bold;    
}

.footer-links ul li a::after{
    color: #9a1515;
    padding-left: 6px;
}

.social-link a{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 3px 2px 0 2px;
    color: #fcd69e;
    background-color: #1e1e1e;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.5s ease; 
}

.social-link a:hover{
    background-color: #9a1515;   
}

.social-link a i:hover{    
    color: #fcd69e;
    font-size: 1.5rem;
}


.copyright{
    color: whitesmoke;
    background-color:#795622;
    text-align: center;    
    font-family:'Architects Daughter', sans-serif;
    padding: 10px;
    width: 100%;
    font-size: 1.2rem;
}

@media (max-width: 860px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;

    }
}
/* ------------End Footer------------- */