*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;   
}

/*<----------Style Product Detail (9/250--------->*/
body{
    line-height: 1.5;
    background-color: #1e1e1e;
    color: #ffffff;
}

.contenedor_full{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px; 
}


.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

img{
    width: 100%;
    display: block;
}

.img-display{
    overflow: hidden;
}

.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img{
    min-width: 100%;
    height: 35rem;    
    object-fit: cover;
}

.img-select{
    display: flex;
}

.img-item{
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0; 

}

.img-item:hover{
    opacity: 0.8;
}

.product-content{
    padding: 2rem 1rem;
    font-family: 'Patrick Hand', sans-serif;
}

.product-detail h2{
    color: #e5ac57;
    padding-bottom: 0.6rem;
}

.product-detail p{
    font-family:'Architects Daughter', sans-serif;
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
    text-align: justify;
}

.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Bangers', sans-serif;
    position: relative;
    color: #fbf0f0;
    -webkit-text-stroke: 1.2px black;
    text-shadow: #fbf0f0 0 -2px;
    margin: 1rem 0;
}

.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;    
    width: 80px;
    background-color: #9a1515;
}

.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    padding: 0 0.3rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background-color: #e5ac57;
    color: #1e1e1e;
    transition: all 0.5 ease;
}

.product-link:hover{
    opacity: 0.9;
}

.product-rating i{
    color: #fcd69e;
}

.product-rating span{
    font-weight: 600;
    color: #fbf0f0;
}

.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span{
    font-weight: 400;
}

.last-price span{
    color: #9a1515;
    text-decoration: line-through;
}

.new-price span{
    color: #88ace0;
}

.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(/front/images/comic-check-mark.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;    
}

.product-detail ul li span{
    font-weight: 400;
}

.purchase-info{
    margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn-shop{
    border: 1.5px solid #ddd;
    border-radius:  25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.purchase-info input{
    width: 60px;
}

.purchase-info .btn-shop{
    cursor: pointer;
    color: #fbf0f0;
}
.purchase-info .btn-shop:first-of-type{
    background-color: #1e1e1e;
}

.purchase-info .btn-shop:last-of-type{
    background-color: #9a1515;
}

.purchase-info .btn-shop:first-of-type:hover, .purchase-info .btn-shop i:hover{
    color: #88ace0;
    background-color: #000000;
}

.purchase-info .btn-shop:last-of-type:hover{
    background-color: #e5ac57;
    color: #1e1e1e;
    font: bold;
}

.social-media{
    display: flex;
    align-items: center;
}

.social-media a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #fcd69e;
    border: 1px solid #e5ac57;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.5s ease;
}

.social-media a:hover{
    border-color: transparent;    
}

.social-media a i:hover{    
    color: #fcd69e;
    font-size: 1.5rem;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;        
    }
    .card-wrapper{
        display: flex;
        justify-content: center;
        align-items: center
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    
}

/*<----------Style Product Detail--------->*/

/*<----------Navbar--------->*/
nav ul li a{
    font-family: 'Bangers', sans-serif;
    color: #fcd69e;
    font-size: 1.5rem;
    position: relative; 
    text-decoration: none;
    padding: 8px 6px;  
}

nav ul li a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #e5ac57;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;

}



.new-li a:hover{
    color: #e5ac57;
    box-shadow: #9a1515 2px;
    
}

.logo-new{    
    width: 110px;     
    position: absolute;
    top: 10px;
    left: 5%;
}

nav{
    height: 80px;
    background-color: #1e1e1e;
    border-radius: 2px #ddd7d7;
}

nav ul{
    text-align: right; 
    margin-right: 25px;
}

nav ul li{
    display: inline-block;
    line-height: 80px; 
    margin: 0 15px; 
}

label #btn-nav,
label #cancel{
    color: #fcd69e;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;

}

@media (max-width: 944px) {
    nav img{
        left: 6%;
        top: 20px;
        width: 130px;
    }
    nav ul li a{
        font-size: 17px;
    }
}


@media (max-width: 860px) {
    label #btn-nav{
        display: block;
    }
    nav ul{        
        width: 100%;
        height: 100vh;
        background: #1e1e1e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        position: absolute;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
        
    }
    .img-showcase{
        position: static;
    }
    #check:checked ~ label #btn-nav {
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    
}

/*<----------Footer---->*/

#footer{
    background-color: #e5ac57;
    padding: 40px 0;
}

#footer .container{
    max-width: 1200px;
    margin: 0 auto;

}


.footer-row{
    display: flex;
    flex-wrap: wrap;
    background-color: #e5ac57;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
    text-decoration: none;
}

.footer-links h4{
    font-size: 20px;    
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #1e1e1e;
    padding-bottom: 10px;
    display: inline-block;
    font-family: 'Bangers', sans-serif;
    color: #fbf0f0;
    -webkit-text-stroke: 1.2px black;
    text-shadow: #fbf0f0 0 -2px;
}

.footer-links ul li{
    list-style: none;
}

.footer-links ul li a{
    font-size: 15px;
    text-decoration: none;
    color: #1e1e1e;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
    font-family: 'Patrick Hand', sans-serif;
    font: bold;    
}

.footer-links ul li a::after{
    color: #9a1515;
    padding-left: 6px;
}

.social-link a{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 3px 2px 0 2px;
    color: #fcd69e;
    background-color: #1e1e1e;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.5s ease; 
}

.social-link a:hover{
    background-color: #9a1515;   
}

.social-link a i:hover{    
    color: #fcd69e;
    font-size: 1.5rem;
}


.copyright{
    color: #fbf0f0;
    background-color: #795622;
    text-align: center;    
    font-family:'Architects Daughter', sans-serif;
}

@media (max-width: 860px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;

    }
}


