@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&family=Hachi+Maru+Pop&family=Patrick+Hand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', sans-serif; 
}

body{
    font-family: Arial;
    background: url(../images/fondo2.jpg);
    background-size: cover;
    background-attachment: fixed
}

.form-login{
    width: 600px;
    height: 700px;
    background: #1e1e1e; ;
    margin: auto;
    margin-top: 3rem;
    box-shadow: 7px 13px 37px #000;
    border-top: 20px solid #9a1515;
    color: #ffffff;
    padding: 2rem;
}
.form-login h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: 'Bangers', sans-serif;
    color: #fbf0f0;
    -webkit-text-stroke: 1.2px black;
    text-shadow: #fbf0f0 0 -2px;
}
.form-login h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 2rem;
    color:#fcd69e ;
}
.controles{
    width: 100%;
    border: 1px solid #9a1515;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #fbf0f0;
    font-size: 1.3rem;
    font-weight: bold;
}
.botom{ 
    width: 100%;
    height: 40px;
    background: #e9b0b0;
    border: none;
    color: #1e1e1e;
    margin-bottom: 16px;
    font-size: 1.5rem;
    cursor: pointer;
}

.botom:hover{
    background: #c77171;
}
.form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
} 
.form-login a {
    color: #fcd69e;
    text-decoration: none;
    font-size: 14px; 
}
.form-login a:hover {
    text-decoration: underline;
}

.go_back{
    text-decoration: none;
    background-color: #008bce;
    color: whitesmoke;
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.go_back:hover{
    transform: scale(1.1);
}

.logo{
    max-width: 250px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.form__field.error input {
    border: solid 2px red;
}

.form__field.success input {
    border: solid 2px rgb(13, 167, 13);
}

.form__field small{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ce2d2d;
    padding: 8px 0;
}